<div id="<%= dom_id pet %>" class="col-4">
  <div class="card">
    <%pet.images.each do |imagen|%>
      <%= image_tag imagen, class: 'card-img-top' %>
    <%end%>
    <div class="card-body">
      <h5 class="card-title"><%= pet.name %></h5>
      <p class="card-text">
        <strong>Name:</strong><%= pet.name %><br>
        <strong>Race:</strong><%= pet.race %><br>
        <strong>Age:</strong><%= pet.age %><br>
        <strong>Gender:</strong><%= pet.gender %><br>
        <strong>Item:</strong><%= pet.item %><br>
        <strong>User:</strong><%= pet.user.nombre %><br>
      </p>
      <%= link_to "Show this pet", pet ,class:"btn btn-primary"%>
    </div>
  </div>
</div>
